<h2>{{question}}</h2>
    <ul class="answers">
        <li>A. <input type="text" value={{answers.option_a}}></li>
        <li>B. <input type="text" value={{answers.option_b}}></li>
        <li>C. <input type="text" value={{answers.option_c}}></li>
        {{#if answers.option_d}}
            <li>D. <input type="text" value={{answers.option_d}}></li>
        {{/if}}
        {{#if answers.option_e}}
            <li>E. <input type="text" value={{answers.option_e}}></li>
        {{/if}}

        <p>Correct answer is <input type="text" value={{answers.correct_answer}}>.</p>
    </ul>
    <br>
    <button onclick="history.back()">Back to questions</button></a>


