<input class="edit-question" type="text" name="question" value="{{question}}">
<form action="/questions/{{questionId}}/edit" method="post">
    <ul class="answers">
        <li>A. <input type="text" name="opt_a" value="{{answers.option_a}}"></li>
        <li>B. <input type="text" name="opt_b" value="{{answers.option_b}}"></li>
        <li>C. <input type="text" name="opt_c" value="{{answers.option_c}}"></li>
        <li>D. <input type="text" name="opt_d" value="{{answers.option_d}}"></li>
        <li>E. <input type="text" name="opt_e" value="{{answers.option_e}}"></li>
        <p>Correct answer is
            <input type="text" name="correct_answer" value="{{answers.correct_answer}}">
        </p>
    </ul>
    <button type="submit" >Update</button>
    
</form>
<br>
<form action="/questions/{{this.questionId}}/delete" method="post" onclick="return confirm('Are you sure you want to delete this item?')">
    <input type="submit" value="Delete question" />
</form>
<br>
<br>
<a href="/quizzes/{{quizId}}"><button>Back to questions</button></a>


